.toolbar-space {
    flex: 1 1 auto;
  }

    /*-*---RREARSDEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE---------------------------*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


    *{
      font-family: 'Poppins', sans-serif;
    }
    
    body{
      background: #131313;
    
      
    }

    .ver{
      display: inline-block;
      padding: 10px 20px;
      background: #e470d0;
      border-radius: 4px;
      margin-top: 10px;
      text-decoration: none;
      font-weight: 600;
      color: #111;
      opacity: 0;
      transform: translateY(50px);
      transition: 0.5s;
      margin-top: 0;
    }
    
    .ver{
      opacity: 1;
      transform: translateY(0px);
      transition-delay: 0.75s;
      
    }